@charset "UTF-8";

.product-banner {
  position: relative;
  .swiper-slide a {
    display: block;
    position: relative;
  }

  &-txt {
    position: absolute;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
    z-index: 2;
    background: rgba($white, 0.8);
    width: 582px;
    padding: 40px;
    text-align: center;
    .title {
      font-size: 24px;
      font-weight: 700;
    }
    .desc {
      font-size: 16px;
      color: $gray-5;
    }
  }

  .swiper-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $white;
    font-size: 40px;
    z-index: 2;
    cursor: pointer;
    padding:1vw;
    &--prev {
      left: 3vw;
    }
    &--next {
      right: 3vw;
    }
  }
  .swiper-pagination {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
    &-bullet {
      vertical-align: middle;
      width: 10px;
      height: 10px;
      border: 2px solid transparent;
      background: $white;
      opacity: 1;
      margin: 0 5px;
      &-active {
        width: 14px;
        height: 14px;
        border-color: $white;
        background: transparent;
      }
    }
  }
}
