@charset "UTF-8";

.product-view-page {
  .product-view-img {
    position: relative;

    .slick {
      margin-bottom: 0;
    }

    .slick-dots {
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 2;
      li {
        vertical-align: middle;
        margin: 0 5px;
        button {
          width: 9px;
          height: 9px;
          border: 2px solid transparent;
          background: $white;
          border-radius: 50%;
        }
        &.slick-active button {
          width: 12px;
          height: 12px;
          border-color: $white;
          background: transparent;
        }
      }
    }

    .swiper-pagination {
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 2;
      &-bullet {
        vertical-align: middle;
        width: 9px;
        height: 9px;
        border: 2px solid transparent;
        background: $white;
        opacity: 1;
        margin: 0 5px;
        &-active {
          width: 12px;
          height: 12px;
          border-color: $white;
          background: transparent;
        }
      }
    }

    .btn-zoom {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: rgba($black, 0.2);
      z-index: 5;
    }
  }

  .product-info {
    .product-name {
      font-size: 20px;
    }

    .keyword {
      margin: -3px -10px;
      overflow: hidden;
      li {
        display: inline-block;
        padding: 3px 10px;
        font-weight: 700;
        font-size: 13px;
      }
      li + li {
        position: relative;

        &::before {
          content: '';
          width: 1px;
          height: 12px;
          background: $gray-c;
          position: absolute;
          left: -2px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .product-description {
      font-size: 12px;
      color: $gray-5;
      line-height: 1.3;
    }
  }

  .product-option-wrap {
    position: fixed;
    left: 0;
    right: 0;
    bottom: $nav-height;
    z-index: 10;
    background: $white;
    border-top: 1px solid $gray-d;

    .product-option {
      &__close {
        text-align: center;

        &.active {
          img {
            transform: rotate(180deg);
          }
          .btn-bx {
            display: none;
          }
        }
      }

      &__detail {
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
        &.active {
          height: auto;
        }
      }

      &__tr {
        padding: 8px 0;
        font-size: 13px;
        color: $gray-5;
        &:not(.product-option__tr--color) {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        .tit {
          font-weight: 700;
          color: $black;
        }
        .price {
          font-size: 14px;
          font-weight: 700;
          color: $black;
          .ori-price {
            font-size: 11px;
            text-decoration: line-through;
          }
        }
        select {
          font-size: 13px;
          border: 0;
          padding: 0;
          text-indent: 0;
          padding-right: 20px;
          background-position: right center;
          height: auto;
        }
      }
    }

    .btn-bx {
      display: flex;
      flex-wrap: wrap;
      .btn {
        width: 100%;
        height: 40px;
        border: 1px solid $black;
        background: $white;
        text-align: center;
        font-size: 13px;
        line-height: 1.3;
      }
      .order-btn {
        background: $black;
        color: $white;
      }
      .cart {
        flex: 0 0 40px;
        max-width: 40px;
      }
      .order {
        flex: 1 1 auto;
        width: 1%;
        padding-left: 4px;
      }
    }

    .link-txt {
      display: inline-block;
      font-size: 14px;
      padding-right: 35px;
      background: url(../images/icon/primary_arrow.png) no-repeat right 2px;
    }
  }

  // .other-product {
  //   display: flex;
  //   flex-wrap: wrap;
  //   overflow: hidden;
  //   margin: 5px -15px 0;
  //   &__item {
  //     flex: 1 0 25%;
  //     max-width: 25%;
  //     padding: 0 15px;
  //     a {
  //       display: block;
  //       position: relative;
  //       &::before {
  //         content: '';
  //         border: 1px solid $primary;
  //         position: absolute;
  //         left: 0;
  //         top: 0;
  //         right: 0;
  //         bottom: 0;
  //         z-index: 1;
  //         opacity: 0;
  //         transition: 0.3s;
  //       }
  //       &:hover::before {
  //         opacity: 1;
  //       }
  //     }
  //   }
  // }

  .other-product {
    position: relative;

    &__item {
      // flex: 1 0 25%;
      // max-width: 25%;
      a {
        display: block;
        position: relative;
        &::before {
          content: '';
          border: 1px solid $primary;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          opacity: 0;
          transition: 0.3s;
        }
        &:hover::before {
          opacity: 1;
        }
      }
    }

    &:not(.other-product--color) .swiper-container {
      margin-right: -15px;
    }

    .swiper-pagination {
      position: static;
      &-bullet {
        vertical-align: middle;
        opacity: 1;
        margin-left: 6px;
        width: 6px;
        height: 6px;
        background: #000;
        border-radius: 100%;
        border: 2px solid #000;

        &-active {
          width: 10px;
          height: 10px;
          background: transparent;
        }
      }
    }
  }

  .qna-write-bx {
    // margin-top: 30px;
    // border: 1px solid $black;
    padding: 22px 15px;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: $white;
    z-index: 101;

    &__close {
      font-size: 25px;
    }

    textarea {
      height: 200px;
    }
  }

  .tab-area {
    height: 47px;
    &.fix {
      .container {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 99;
        background: $white;
        border-bottom: 1px solid $gray-d;
      }
      // &.top-0 .container {
      //   top: 0;
      // }
      // &.top-h .container {
      //   top: $nav-height;
      // }
    }
  }

  .sorting-select {
    display: inline-block;
    font-size: 12px;
    border: 0;
    padding: 0;
    text-indent: 0;
    padding-right: 25px;
    background-position: right -3px center;
    height: auto;
    width: auto;
    color: $gray-5;
  }
}

.img-zoom-layer {
  display: none;
  z-index: 200;
  overflow: hidden;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;

  &::after {
    content: '';
    display: block;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
  }

  .layer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: $white;
    z-index: 10;
    .layer__close-btn {
      font-size: 24px;
    }
  }
  .layer-body {
    padding-top: 50px;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    .layer-product-img {
      overflow: hidden;
      position:relative;
    }
    .img + .img {
      margin-top: 10px;
    }

    .img img {
      width: 100%;
    }
  }
}
